body{
    background: #eee;
}

p {
  padding: 30px;
}

#content  {
    background: #fff;
    width: 400px;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    
    max-height: 270px;
    overflow: hidden;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;

    }
  
  
  #content.open {
    max-height: 1000px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
   
   
  }

  
  #show-more {
    background: #1594e5;
    color: #fff;
    display: block;
    text-transform: uppercase;
    width: 140px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
  }
  